@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color1: #1693a5;
    --color2: #45b5c4;
    --color3: #7ececa;
    --color4: #a0ded6;
    --color5: #c7ede8;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

/* Cabecera y barra de navegacion principal */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-bottom: 1.5px solid var(--color1);
}

.logo img {
    width: 6vw;
    border-radius: 50%;
    min-width: 60px;
    max-width: 80px;
    animation: heartbeatEffect 1s infinite alternate;
}

.logo h1 {
    display: none;
}

header nav {
    display: flex;
    align-items: center;
}

.box-btn {
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    list-style: none;
}

.btn-default {
    padding: 10px 18px;
    text-align: center;
    border-radius: 3px 12px;
    display: inline-block;
    background-color: var(--color1);
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.btn-default:hover {
    border-radius: 50px;
    box-shadow: inset 0px 0px 10px 3px var(--color1);
    background-color: white;
    color: var(--color1);
    transition: all 0.3s ease-in-out;
    animation: heartbeatEffect 1s infinite alternate;
}

/* Carrusel */

.container-slides {
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 500%;
    animation: slideCarrusel 15s infinite;
}

.slide {
    width: 100%;
    position: relative;
}

.slide img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.caption {
    position: absolute;
    top: 15px;
    left: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 5px;
    border-radius: 5px 15px;
}

/* Secciones */
/* Sobre nosotros */

.destacados {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.sobre-nosotros,
.section-testimonios,
.section-mision-vision,
.mosaico-adopcion {
    font-size: 1.2rem;
    padding: 20px;
}

.testimonios {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.testimonio {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: lightcyan;
}

.testimonio blockquote p {
    font-style: italic;
    font-size: 1.1rem;
}

.testimonio figcaption {
    font-weight: bold;
    text-align: right;
}

.mision-vision {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.icon {
    width: 6vw;
    border-radius: 50%;
    min-width: 60px;
    max-width: 80px;
    border-radius: 50%;
    animation: heartbeatEffect 1s infinite alternate;
}

.mision-vision article {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 25px 15px;
    background-color: lightcyan;
    align-items: center;
    gap: 20px;
}

.mosaico-adopcion {
    display: grid;
    grid-template-columns: repeat(3, minmax(45px, 1fr));
}

.mosaico-adopcion img {
    max-width: 100%;
    height: 100%;
}

/* Catalogo animales */
.catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    padding: 20px;
    gap: 30px;
}

.tarjeta-animal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: lightcyan;
    border-radius: 10px;
    padding: 15px;
    transition: transform 1s;
}

.tarjeta-animal:hover {
    transform: scale(1.05);
    animation: heartbeatEffect 1s infinite alternate;
}

.tarjeta-animal img {
    max-width: 75%;
    height: auto;
    border-radius: 10px;
}

.tarjeta-animal .estado {
    width: fit-content;
    color: white;
    padding: 10px 15px;
    font-weight: 600;
    border-radius: 5px;
}

span.estado[data-status] {
    background-color: gray;
}

span.estado[data-status="adoptado"] {
    background-color: red;
}

span.estado[data-status="disponible"] {
    background-color: green;
}


.section-title {
    padding-top: 20px;
    text-align: center;
}

.perfil-animal {
    display: flex;
    font-size: 1.1rem;
    flex-direction: column;
    align-items: center;
    padding: 30px 60px;
    gap: 25px;
}

.perfil-animal .detalles {
    text-align: center;
}

.perfil-animal div {
    width: 100%;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: lightcyan;
}

.perfil-animal img {
    width: 50vw;
    max-width: 320px;
    border-radius: 50%;
    transition: transform 1s;
    animation: heartbeatEffect 1s infinite alternate;
}

.perfil-animal img:hover {
    transform: scale(1.05);
}

.perfil-animal h3 {
    padding: 5px 0;
    text-align: center;
}

.campo {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-contacto {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    padding: 20px;
    gap: 30px;
}

input,
select,
textarea {
    width: 100%; /* ← esto es crítico */
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:invalid,
select:invalid,
textarea:invalid {
    border: 2px solid #ff4d4d;
}

.campo {
    padding: 5px 30px;
}

.btn-submit {
    display: block;
    padding: 5px 30px;
    max-width: 120px;
    max-height: 30px;
    border-radius: 5px;
    background-color: var(--color1);
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
}

.campo.error input {
    border: 2px solid #ff4d4d;
    background-color: #ffe6e6;
}

.campo.success input {
    border: 2px solid #2ecc71;
}

.info-directa {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 20px 0;
    border-top: 1px solid #ddd;
    padding-top: 15px;
}

.info-directa a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    align-items: center;
    background-color: var(--color2);
    border-top: 1.5px solid var(--color1);
    gap: 5px;
}

footer a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    border-radius: 25px;
}

/* Animaciones */

@keyframes slideCarrusel {
    0% {
        margin-left: 0;
    }

    10% {
        margin-left: 0;
    }

    20% {
        margin-left: -100%;
    }

    30% {
        margin-left: -100%;
    }

    40% {
        margin-left: -200%;
    }

    50% {
        margin-left: -200%;
    }

    60% {
        margin-left: -300%;
    }

    70% {
        margin-left: -300%;
    }

    80% {
        margin-left: -400%;
    }

    90% {
        margin-left: -400%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes heartbeatEffect {
    from {
        box-shadow: none;
    }

    to {
        box-shadow: 0px 0px 10px 3px var(--color1);
    }
}

/* Media query */

/* Tablets */
@media (min-width: 576px) {
    body {
        font-size: 16px;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .logo h1 {
        display: inline-block;
    }

    .box-btn {
        width: auto;
        flex-direction: row;
    }

    .btn-default {
        width: auto;
        padding: 15px 30px;
    }

    .container-slides,
    .slide img {
        height: 80vh;
    }

    .testimonios {
        grid-template-columns: repeat(2, 1fr);
    }

    .mision-vision {
        grid-template-columns: repeat(2, 1fr);
    }

    .perfil-animal {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

/* Pantallas grandes */
@media (min-width: 1200px) {
    body {
        font-size: 18px;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .testimonios {
        grid-template-columns: repeat(3, 1fr);
    }
}
